.section {
	grid-area: section;
	width: calc(var(--var-width-bar) / 2);
}

.section.closed {
	opacity: 0;
	transition: 0.8s opacity linear 0s;
}

.section.open {
	opacity: 1;
	transition: 1.2s opacity linear 0.1s;
}
