.section {
	width: calc(var(--var-width-bar) / 2);
}

.sections.closed > * {
	opacity: 0;
	transition: 0.8s opacity linear 0s;
}

.sections.open > * {
	opacity: 1;
	transition: 1.2s opacity linear 0.1s;
}
