.navbar {
	height: calc(100vh - var(--var-height-bar));
	grid-area: navbar;
	display: grid;
	grid-template-areas: "main-navbar section";
	overflow: hidden;
	transition: 1.5s;
}

.navbar.section-closed {
	grid-template-columns: 100% 0;
}

.navbar.section-open {
	grid-template-columns: 50% 50%;
}
