@use "sass:string";

:root {
	--var-width-bar: min(30rem, 100vw);
	--var-height-bar: 4.375rem;
}

$cardinals: (
	"t": "top",
	"r": "right",
	"b": "bottom",
	"l": "left",
);

@for $i from 1 through 9 {
	$font-weight: #{$i * 100};
	.font-weight-#{$i} {
		font-weight: #{$font-weight};
	}
}

@for $i from -20 through 100 {
	$value: #{$i / 16}rem;
	.svg-#{$i} {
		width: #{$value};
		height: #{$value};
		font-size: #{$value};
	}
	.p#{$i} {
		padding: #{$value};
	}
	.m#{$i} {
		margin: #{$value};
	}
	.width#{$i} {
		width: #{$value};
	}
	.height#{$i} {
		height: #{$value};
	}
	.fs#{$i} {
		font-size: #{$value};
	}
	.bottom#{$i} {
		bottom: #{$value};
	}
	@each $card, $card-val in $cardinals {
		.p#{$card}#{$i} {
			padding-#{$card-val}: #{$value};
		}
		.m#{$card}#{$i} {
			margin-#{$card-val}: #{$value};
		}
	}
}
