@use "sass:map";
@import "styles/nord";

$theme-colors: (
	"primary": $nord8,
	"secondary": $nord9,
	"success": $nord14,
	"danger": $nord11,
	"warning": $nord13,
	"info": $nord7,
	"light": $nord6,
	"dark": $nord1,
	"dark2": $nord0,
	"nord0": $nord0,
	"nord1": $nord1,
	"nord2": $nord2,
	"nord3": $nord3,
	"nord4": $nord4,
	"nord5": $nord5,
	"nord6": $nord6,
	"nord7": $nord7,
	"nord8": $nord8,
	"nord9": $nord9,
	"nord10": $nord10,
	"nord11": $nord11,
	"nord12": $nord12,
	"nord13": $nord13,
	"nord14": $nord14,
	"nord15": $nord15,
);

$targets-colors: (
	"bg": "background-color",
	"txt": "color",
	"svg": "fill",
);

:root {
	@each $name, $value in $theme-colors {
		--color-#{$name}: #{map.get($theme-colors, #{$name})};
	}
}

@each $name, $value in $theme-colors {
	@each $target, $tg-value in $targets-colors {
		.#{$target}-#{$name} {
			#{$tg-value}: $value !important;
			transition: if($target == "svg", all 0.2s ease-in-out, null);
			&:hover {
				opacity: if($target == "svg", 0.75 !important, null);
				transform: if($target == "svg", scale(1.1), null);
			}
		}
	}
}
