@use "sass:map";
@import "styles/nord";

$theme-colors: (
	"primary": $nord8,
	"secondary": $nord9,
	"success": $nord14,
	"danger": $nord11,
	"warning": $nord13,
	"info": $nord7,
	"light": $nord6,
	"dark": $nord1,
	"nord0": $nord0,
	"nord1": $nord1,
	"nord2": $nord2,
	"nord3": $nord3,
	"nord4": $nord4,
	"nord5": $nord5,
	"nord6": $nord6,
	"nord7": $nord7,
	"nord8": $nord8,
	"nord9": $nord9,
	"nord10": $nord10,
	"nord11": $nord11,
	"nord12": $nord12,
	"nord13": $nord13,
	"nord14": $nord14,
	"nord15": $nord15,
);

:root {
	@each $name, $value in $theme-colors {
		--color-#{$name}: #{map.get($theme-colors, #{$name})};
	}
}

body {
	color: var(--color-dark);
	background-color: var(--color-light);
}

.App-header {
	text-align: center;
	background-color: var(--color-nord0);
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: $nord6;
}

.App-content {
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.App-footer {
	text-align: center;
	background-color: var(--color-nord7);
	padding-top: 1rem;
	position: fixed;
	bottom: 2rem;
	width: 80%;
	border-radius: 1rem;
	margin-left: 10%;
}
