@import "./styles/themes-colors";
@import "./styles/sizes";
@import "./styles/flex";

html {
	font-size: 100%;
	box-sizing: border-box;
}

body {
	color: var(--color-dark);
	background-color: var(--color-light);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.separator {
	height: 0px;
	border-radius: 2px;
	border-bottom: 1px solid;
}

.App-container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: var(--var-width-bar) auto;
	grid-template-rows: var(--var-height-bar) auto;
	grid-template-areas:
		"app-status editor-bar"
		"navbar editor";
	justify-items: stretch;
}
