@import "./styles/themes-colors";
@import "./styles/sizes";
@import "./styles/flex";

$size-screens: (
	screen-xxl 1440px 95%,
	screen-xl 1280px 80%,
	screen-lg 992px 70%,
	screen-md 768px 50%,
	screen-sm 576px 100%
);

@mixin screen-max($max) {
	@media (max-width: $max) {
		@content;
	}
}

html {
	font-size: 100%;
	box-sizing: border-box;
	@each $name, $size-screen, $percent in $size-screens {
		@include screen-max($size-screen) {
			font-size: $percent;
		}
	}
}

body {
	color: var(--color-dark);
	background-color: var(--color-light);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.separator {
	height: 0px;
	border-radius: 2px;
	border-bottom: 1px solid;
}

.cursor-pointer {
	cursor: pointer;
}

.underline {
	text-decoration: underline;
}

.ico {
	flex-shrink: 0;
	flex-grow: 0;
}

.App-container {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: var(--var-width-bar) calc(100vw - var(--var-width-bar));
	grid-template-rows: var(--var-height-bar) calc(100vh - var(--var-height-bar));
	grid-template-areas:
		"app-status editor-bar"
		"navbar editor";
	justify-items: stretch;
}
